<!--Deliver-->
<div class="divider"></div>
<div class="section">
    <h5><%$smarty.const.HTML_DELIVER_TITLE%></h5>
    <div>
        <div class="row">
            <div class="col m6">
                <div class="col s6">
                    <div class="center promo promo-example">
                        <i class="material-icons">local_shipping</i>
                        <p class="promo-caption"><%$smarty.const.HTML_DELIVER_INFO_TITLE_1%></p>
                        <p class="light center"><%$smarty.const.HTML_DELIVER_INFO_CONTENT_1%></p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="center promo promo-example">
                        <i class="material-icons">card_giftcard</i>
                        <p class="promo-caption"><%$smarty.const.HTML_DELIVER_INFO_TITLE_2%></p>
                        <p class="light center"><%$smarty.const.HTML_DELIVER_INFO_CONTENT_2%></p>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="col s6">
                    <div class="center promo promo-example">
                        <i class="material-icons">check_circle</i>
                        <p class="promo-caption"><%$smarty.const.HTML_DELIVER_INFO_TITLE_3%></p>
                        <p class="light center"><%$smarty.const.HTML_DELIVER_INFO_CONTENT_3%></p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="center promo promo-example">
                        <i class="material-icons">supervisor_account</i>
                        <p class="promo-caption"><%$smarty.const.HTML_DELIVER_INFO_TITLE_4%></p>
                        <p class="light center"><%$smarty.const.HTML_DELIVER_INFO_CONTENT_4%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>