<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="<%$smarty.const.ACW_BASE_URL%>/shared/js/jquery-3.2.1.min.js"></script>

<!--
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
-->

<script src="<%$smarty.const.ACW_BASE_URL%>/shared/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="<%$smarty.const.ACW_BASE_URL%>/shared/css/materialize.min.css">
<script src="<%$smarty.const.ACW_BASE_URL%>/shared/js/materialize.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>-->

<link rel="stylesheet" href="<%$smarty.const.ACW_BASE_URL%>/shared/css/main_overide.css">