<!--Footer-->
<div>
    <footer class="page-footer">
        <div class="">
            <div class="row">
                <div class="col m3">
                    <h5 class="white-text">ĐỊA CHỈ SHOP</h5>
                    <p class="grey-text text-lighten-4">CN Sài Gòn: <%$smarty.const.HTML_ADDRESS%></p>
                    <p class="grey-text text-lighten-4">Phone: <%$smarty.const.HTML_PHONE%></p>
                    <p class="grey-text text-lighten-4">Email: <%$smarty.const.HTML_EMAIL%></p>
                </div>
                <div class="col m3">
                    <h5 class="">CHÍNH SÁCH HỖ TRỢ</h5>
                    <ul class="">
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Giao Hàng Tận Nhà</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Bọc Quà Giá Rẻ</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Tặng Thiệp Miễn Phí</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Bản đồ đến shop</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#g">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Chính sách bảo hành</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-4" href="#">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
                <div class="col m3">
                    <h5 class="white-text">LIÊN KẾT</h5>
                    <div class="social">
                        <ul class="footer-list-menu">
                            <li>Hãy kết nối với chúng tôi.</li>
                        </ul>
                        <ul class="list-unstyled clearfix">
                            <li class="facebook">
                                <a target="_blank" href="https://www.facebook.com/gaubongonlineHCM/" class="fa fa-facebook"></a>
                            </li>
                            <li class="twitter">
                                <a class="fa fa-twitter" target="_blank" href="/"></a>
                            </li>
                            <li class="google-plus">
                                <a class="fa fa-google-plus" target="_blank" href="https://plus.google.com/u/1/+gaubongonline2013"></a>
                            </li>
                            <li class="rss">
                                <a class="fa fa-instagram" target="_blank" href="/"></a>
                            </li>
                            <li class="youtube">
                                <a class="fa fa-youtube" target="_blank" href="https://www.youtube.com/channel/UCR78NY_G5KOQUra0tDNdjcA"></a>
                            </li>
                        </ul>
                        <div class="dkbocongthuong">
                            <img src="//hstatic.net/991/1000159991/1000211648/dkbocongthuong.png?v=781">
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <h5 class="white-text">LIKE FANPAGE CỦA SHOP NHA:</h5>
                    <p class="grey-text text-lighten-4">...</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <%$smarty.const.ACW_FOOTER_COPY_RIGHT%>
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</div>