/*** Icon SVG ***/
.svg-next-icon {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	fill: currentColor;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	color: #21fc3d;
}
.svg-phone-icon-top {
	width: 60px;
	height: 60px;
}

.svg-phone-icon-bottom {
	width: 80px;
	height: 80px;
}

/*
Header
*/
nav {
    color: white;
    /*background-color: #1c2632;*/
    background: #ea377c url(../img/main.png);
}
.header-menu-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
}
.header-padding-top {
	padding-top: 200px;
}

/*
Footer
*/
.page-footer {
    /*background: #1c2632;*/
    background: #ea377c url(../img/main.png);
    border-top: 1px solid #addef0;
}
.fixed-phone-button {
    position: fixed;
    bottom: 20px;
    left: 10px;
    height: 100px;
    z-index: 999;
}

/*
Body
*/
body {
	background-color: white;
}

/*
Button Common
*/
.btn {
	/*background-color: #1c2632;*/
	background: #ea377c url(../img/main.png);
}
.btn:hover, .btn-large:hover {
	/*background-color: #1c2632;*/
	background: #ea377c url(../img/main.png);
}

.card .card-content {
    padding: 5px;
}