@charset "utf-8";
/*======================　履歴一覧　======================*/
.translate_list {
	width: 98%;
	min-width: 700px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.translate_list tr td {
	border: 1px solid #CCCCCC;
}
.translate_list tr th {
	border: 1px solid #888888;
	background: #EEEEEE;
        text-align: center;
}
.translate_list tr td,
.translate_list tr th{
	vertical-align: middle;
	padding: 2px;
}
.translate_list tr td b{
	color: #BF0A01;
}
.translate_list tr td a{
	text-decoration: underline;
}
.translate_list .center{
        text-align: center;
}
.translate_list .lang_w{
	width: 85px;
}