<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Admin</title>
        <%include 'include/admin_common_script.html'%>
    </head>
    <body>
		<div id="wrapper">
			<!-- /. header  -->
			<%include 'include/admin/header.html'%>
			
			<!-- /. NAV TOP  -->
			<%include 'include/admin/menu.html'%>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div id="page-inner">
				abc
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<%include 'include/admin/footer.html'%>
	</body>
</html>
<%include 'include/base_ajax.html'%>
<script>

</script>