<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Token</title>
        <%include 'include/common_script.html'%>
    </head>
    <body>
    	<div class="main">
	        <div class="container">
				<div class="row">
				    <form class="col s12" id="frm_token">
				    	Facebook Account
				      <div class="row">
				        <div class="input-field col s12">
				          <i class="material-icons prefix">email</i>
				          <input id="email" name="email" type="email" class="validate">
				          <label for="icon_prefix">Email</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <i class="material-icons prefix">vpn_key</i>
				          <input id="password" name="pass" type="password" class="validate">
				          <label for="icon_telephone">Password</label>
				        </div>
				      </div>
				      <a class="waves-effect waves-light btn" id="get_token" >Get Token</a>
				      <br>
				      <div class="row">
				        <div class="input-field col s12">
				          <textarea id="result_token" class="materialize-textarea"></textarea>
				        </div>
				      </div>
				    </form>
				    
				    
				    <form class="col s12" id="frm_token_multi">
				    Multi Account:
				      <div class="row">
				        <div class="input-field col s12">
				          <textarea id="result_token" name="multi_line" class="materialize-textarea"></textarea>
				        </div>
				      </div>
				      <a class="waves-effect waves-light btn" id="get_token_multi" >Get Multi Token</a>
				    </form>
				  </div>
	        </div>
        </div>
    </body>
</html>
<%include 'include/base_ajax.html'%>
<script>
    $(function() {
    	$('#get_token').click(function(){
    		var html_ajax = new Base_ajax("json");
    		html_ajax.done_func = function(data) {
    			if(data.error_msg != ''){
    				alert(data.error_msg);
    			}
    			else{
    				
    				$("#result_token").val(data.access_token);
    			}
    		};
    		var data = $("form#frm_token").serializeArray();
    		html_ajax.connect("POST", "token/gettoken", data);
    	});
    	
    	$('#get_token_multi').click(function(){
    		var html_ajax = new Base_ajax("json");
    		html_ajax.done_func = function(data) {
    			alert('Done');
    		};
    		var data = $("form#frm_token_multi").serializeArray();
    		html_ajax.connect("POST", "token/gettokenmulti", data);
    	});
    });
</script>