<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>トップ</title>
<!-- InstanceEndEditable -->
<%include 'include/head.html'%>
<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/top.css" rel="stylesheet" type="text/css" />
</head>
<body class="column_1"><!--  ■■■■■　通常はcolumn_2で、比較表示の時はcolumn_3へ　■■■■■  -->
<div class="bg">
<div class="container">
<%include 'include/menu.html'%>
<div class="contents_wrap"> 
	<%include 'include/footer.html'%>
</div><!-- / .contents_wrap -->
</div><!-- / .container -->
</div><!-- / .bg -->
<%include 'include/argo_ajax.html'%>
<script type='text/javascript'>

</script>
</body>
<!-- InstanceEnd --></html>