<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Trang Chu</title>
        <%include 'include/common_script.html'%>
    </head>
    <body>
        <!--Header -->
        <%include 'include/header/main.html'%>
        <!--Slider Menu-->
        <%include 'include/slider/main.html'%>
        
        <div class="container">
        
            <!--Category-->
            <%include 'include/category/main.html'%>
            
            <!--Deliver-->
            <%include 'include/deliver/main.html'%>
            
            <!--Product Tab-->
            <%*include 'include/product/main_tab.html'*%>
            
            <!--Product-->
            <%include 'include/product/main.html'%>
            
        </div>
        <!--Footer -->
        <%include 'include/footer/main.html'%>
    </body>
</html>
