<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Trang Chu</title>
        <%include 'include/common_script.html'%>
    </head>
    <body>
        <!--Header -->
        <%include 'include/header.html'%>
        <div class="container">
            <!--Category-->
            <div class="divider"></div>
            <div class="section">
                <h5>Section 1</h5>
                <div>
                    <a class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i></a>
                </div>
            </div>
            <!--Infomation-->
            <div class="divider"></div>
            <div class="section">
                <h5>Section 2</h5>
                <div>
                    <div class="row">
                        <div class="col m6">
                            <div class="col s6">
                                <div class="center promo promo-example">
                                    <i class="material-icons">flash_on</i>
                                    <p class="promo-caption">Speeds up development</p>
                                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="center promo promo-example">
                                    <i class="material-icons">flash_on</i>
                                    <p class="promo-caption">Speeds up development</p>
                                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="col s6">
                                <div class="center promo promo-example">
                                    <i class="material-icons">flash_on</i>
                                    <p class="promo-caption">Speeds up development</p>
                                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="center promo promo-example">
                                    <i class="material-icons">flash_on</i>
                                    <p class="promo-caption">Speeds up development</p>
                                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--San Pham-->
            <div class="divider"></div>
            <div class="section">
                <h5>Section 2</h5>
                <div>
                    <div class="row">
                        <div class="col m6">
                            <div class="center promo promo-example">
                                <i class="material-icons">flash_on</i>
                                <p class="promo-caption">Speeds up development</p>
                                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="center promo promo-example">
                                <i class="material-icons">flash_on</i>
                                <p class="promo-caption">Speeds up development</p>
                                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer -->
        <%include 'include/footer.html'%>
    </body>
</html>
<script></script>