<!--Header -->
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="<%$smarty.const.ACW_BASE_URL%>" class="brand-logo">Logo</a>
            <a href="<%$smarty.const.ACW_BASE_URL%>" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="button-collapse"><i class="material-icons">shopping_cart</i></a>
            <ul class="right hide-on-med-and-down">
            	<%foreach $header_main as $item%>
            		<li><a href="<%$smarty.const.ACW_BASE_URL%><%$item.menu_link%>"><%$item.menu_name%></a></li>
                <%/foreach%>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <%foreach $header_main as $item%>
            		<li><a href="<%$smarty.const.ACW_BASE_URL%><%$item.menu_link%>"><%$item.menu_name%></a></li>
                <%/foreach%>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Tim Kiem</label>
                </div>
            </div>
        </div>
    </div>
</div>