<!--Slider Menu-->
<div class="container">
    <div class="carousel carousel-slider" data-indicators="true">
		<a class="carousel-item" href="#one!"><img src="<%$smarty.const.ACW_BASE_URL%>/data/lorempixel1.jpg"></a>
		<a class="carousel-item" href="#two!"><img src="<%$smarty.const.ACW_BASE_URL%>/data/lorempixel2.jpg"></a>
		<a class="carousel-item" href="#three!"><img src="<%$smarty.const.ACW_BASE_URL%>/data/lorempixel3.jpg"></a>
		<a class="carousel-item" href="#four!"><img src="<%$smarty.const.ACW_BASE_URL%>/data/lorempixel4.jpg"></a>
    </div>
</div>
<script>
	$('.carousel.carousel-slider').carousel({fullWidth: true});
</script>