<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
						</li>
						<li>
							<a href="#"  class="active-menu-top"><i class="fa fa-desktop "></i>Get Accesstoken<span class="fa arrow"></span></a>
							 <ul class="nav nav-second-level collapse in">
								<li>
									<a class="active-menu" href="panel-tabs.html"><i class="fa fa-toggle-on"></i>Account</a>
								</li>
								<li>
									<a href="notification.html"><i class="fa fa-bell "></i>Multi Account</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
						</li>
					</ul>

				</div>
			</nav>