<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>adminpanel"><i class="fa fa-dashboard "></i>Dashboard</a>
						</li>
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>token"><i class="fa fa-square-o "></i>Thêm Tài Khoản</a>
						</li>
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>tokeninfo"><i class="fa fa-square-o "></i>Quản Lý Tài Khoản</a>
						</li>
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>friends"><i class="fa fa-square-o "></i>Tự Động Kết Bạn</a>
						</li>
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>getuid"><i class="fa fa-square-o "></i>Quét UID</a>
						</li>
						<li>
							<a href="<%$smarty.const.ACW_BASE_URL%>postfeed"><i class="fa fa-square-o "></i>Đăng Bài Hàng Loạt</a>
						</li>
					</ul>

				</div>
			</nav>