<!--Product-->
<style>
.card .card-action b {
	color: red;
}
</style>
<div class="divider"></div>
<div class="section">
    <h5><%$smarty.const.HTML_PRODUCT_TRENDING_TITLE%></h5>
    <div>
        <div class="row">
        	<%foreach $product_trending as $item%>
            <div class="col s6">
			    <div class="card">
			        <div class="card-image">
			            <img src="<%$smarty.const.ACW_BASE_URL%>/data/sample-1.jpg">
			        </div>
			        <div class="card-content">
			            <%$item.product_name%>
			            <div><%$item.product_info%></div>
			        </div>
			        <div class="card-action right-align">
			        	<%if $item.org_price > $item.product_price%>
			        	<strike><h5><%$item.org_price|number_format:0%><%$smarty.const.HTML_CURRENCY%></h5></strike>
			        	<%/if%>
			        	<h5><b><%$item.product_price|number_format:0%><%$smarty.const.HTML_CURRENCY%></b></h5>
			        </div>
			    </div>
			</div>
        	<%/foreach%>
        </div>
    </div>
</div>