<!--Product-->
<div class="divider"></div>
<div class="section">
    <h5>Section 2</h5>
    <div>
        <div class="row">
        	<%foreach $product_main as $item%>
            <div class="col s6">
			    <div class="card">
			        <div class="card-image">
			            <img src="http://materializecss.com/images/sample-1.jpg">
			        </div>
			        <div class="card-content">
			            <b>DONG HO CAO CAP
			            </b>
			        </div>
			        <div class="card-action">
			            <a href="#">200,000 DONG</a>
			        </div>
			    </div>
			</div>
        	<%/foreach%>
        </div>
    </div>
</div>